html{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: medium;
}

a{
    color: rgb(157, 206, 255);
}

p{
    font-size: small;
}

#table{
    font-size: 12px;
  }

#btn{
    border-radius: 0px;
    color: white;
    border-color: #404447;
    background-color:#212529;
}

#btn:hover{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {

    #table{
      width: 100%;
      font-size: 13px;
      background-color: black;
      page-break-inside: auto;
    }

    tr{
        display: flex;
        flex-wrap:wrap;
        background-color: black;
    }

    th{
        flex: 1;
        flex-wrap: wrap;
        box-sizing: border-box;
        background-color: black;
    }

    td {
        flex: 1;
        box-sizing: border-box;
        background-color: black;
        border-color: black;
        border-style: 1rem solid;
      }

      .btn-container{
        padding-bottom:1.3em;
      }

    #btn{
        display:flexbox;
        flex-direction: row;
        flex-grow: 1;
        flex:1;
        width: 25%;
        align-self: stretch;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .truncate-url {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px; /* Ändere dies auf die gewünschte Breite oder andere Einheiten */
    }

}
