body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #000000;
}

#navbar{
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.content{
    width: 77%;
    height: auto;
    min-height: 74.0vh;
    padding:1rem 1rem 0rem 1rem;
}

.content-sidebar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar{
    width: 23%;
    min-height: 76.5vh;
    padding:1rem 1rem 1rem 0rem;
}

.footer{
    flex-direction:column;
    width: 100%;
    text-align: center;
    padding: 0rem 1rem 1rem 1rem;
}

@media only screen and (max-width: 834px){


    .content{
        width: 100%;
        height: auto;
        min-height: 1rem;
        padding:1rem 1rem 0rem 1rem;
    }

    .content-sidebar-container{
        display: flex;
        flex-direction:column-reverse;
        width: 100%;
    }

    .sidebar{
        display: flex;
        justify-content: space-between;
        flex-direction:row;
        flex-flow: row;
        flex-grow: 3;
        width: 100%;
        height: auto;
        padding:1rem 1rem 0rem 1rem;
    }

    .sidebar-island{
        flex: 3;
    }

    .footer{
        flex-direction:column;
        width: 100%;
        text-align: center;
        margin-top: auto;
        padding: 0rem 1rem 1rem 1rem;
    }

}
